body{
	font-family: 'Open Sans', sans-serif;
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
 ul{
	padding: 0;
	margin: 0;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
	font-family: 'Voltaire', sans-serif;
}
p{
	margin:0;
	padding:0;	
	color: #777;
}
/*--banner--*/
/*-- navigation --*/
.navbar {
  position: relative;
  min-height: 0;
  margin-bottom: 0;
  border: none;
}
.navbar-default {
  border: none;
  background-color: rgba(248, 248, 248, 0);
}
.navbar-collapse {
  padding-right: 0;
  padding-left: 0;  
  }
.navbar-default .navbar-nav > li > a {
    color: #000000;
}
.navbar-default .navbar-nav > li > a:hover {
  color:#000000;
  background-color: transparent;
}
.navbar-default .navbar-nav > li > a:focus{
  color:#000000;
}
.navbar-nav > li {
    float: left;
    margin: 0 10px;
}
.navbar-nav {
    margin: 0px;
}
.nav > li > a {
text-align:center;
font-size:1.1em;
  position: relative;
  padding: 30px 10px !important;
  letter-spacing: 1px;
}
.logo {
	margin-bottom:1em;
}
.logo a {
    border: 6px double #fff;
    padding: 0.2em 0.5em;
    border-radius: 50%;
    font-size: 3em;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    background: #013040;
}
.navbar-right {
    float: left !important;
}
/*-- Link Effect: bottom border enlarge --*/
.link-effect a {
	padding: 0 0 10px;
}
.link-effect a::after {
	position: absolute;
	top: 94%;
	left: 0;
	width: 100%;
	height: 1px;
	background:#fff;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}
.link-effect a:hover::after,
.link-effect a:focus::after {
	height: 5px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
/*-- /Link Effect: bottom border enlarge --*/
/*--navigation--*/
/*--banner--*/
.banner{
	background:url(../images/homepage.png) no-repeat 0px 0px;
	/* background-size:cover; */
    background-size: 100%;  
    background-position: center center;
	min-height:1024px;
    /* margin: 16em 0 0; */
    float: none;
    text-align: center;
}
/* .banner-info {
    float: none;
    text-align: center;
} */
.banner button {
    background-color: transparent;
  }
.nihao_button {
    background-color: transparent;
    font-size: 24px;
    flex-direction: row;
    align-items: center;
    padding: 10px 5px;
    gap: 10px;
    width: 250px;
    height: 60px;
    border: 2px solid #090909;
    color: #000000;
    margin: 0.5em 0;
    text-align: center;
    line-height: 1.2em;
    position: relative;
    top: 500px;
  }

  button:hover {
    background-color: #111111;
    ;
    color: #ffffff;
  }

  
  .twitter-btn {
    background-image: url(../images/twitter.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    border-radius: 50%;
    border: none;
    top: 20px;
    left: 30%;
    width: 40px;
    height: 40px;
  }

  .twitter-btn:hover {
    background-image: url(../images/twitter.png);
    background-color:transparent; /* 替换为需要的背景色 */
  }

  .telegram-btn {
    background-image: url(../images/telegram.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    border-radius: 50%;
    border: none;
    top: 20px;
    left: 30%;
    width: 40px;
    height: 40px;
  }

  .telegram-btn:hover {
    background-image: url(../images/telegram.png);
    background-color:transparent; /* 替换为需要的背景色 */
  }

  .total_capbutton-btn {
    background-image: url(../images/total_capbutton.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    border: none;
    position: relative;
    top: 690px;
    right: 500px;
    width: 300px;
    height: 50px;
    pointer-events: auto;
  }
  
  .total_capbutton-btn:hover {
    background-image: url(../images/total_capbutton.png);
    background-color:transparent; /* 替换为需要的背景色 */
  }
  
  
.about-w3 {
    background:url(../images/about.png) no-repeat 0px 0px;
    background-size:cover;
    background-size: 1440px 1024px;
    background-position: center center;
    min-height:1024px;
    padding: 5em 0;
}

.gmgn {
    background:url(../images/gmgn.png) no-repeat 0px 0px;
    background-size:cover;
    background-size: 1440px 1024px;   
    background-position: center center;
    min-height:1024px;
    padding: 5em 0;
}
.tokenomics {
    background:url(../images/Tokenomics.png) no-repeat 0px 0px;
    background-size:cover;
    background-size: 1440px 1024px;
    background-position: center center;
    min-height:1024px;
    padding: 5em 0;
}

.roadmap {
    background:url(../images/roadmap.png) no-repeat 0px 0px;
    background-size:cover;
    background-size: 1440px 1920px;
    background-position: center center;
    min-height:1920px;
    padding: 5em 0;
}
.footer {
    background:url(../images/footer.png) no-repeat 0px 0px;
    background-size:cover;
    background-size: 1440px 280px;
    background-position: center center;
    min-height:280px;
    padding: 5em 0;
}

.footer button {
    background-color: transparent;
  }

.twitter_footer-btn {
    background-image: url(../images/twitter_footer.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    border-radius: 50%;
    border: none;
    position: center;
    /* top: 20px;
    left: 46%; */
    width: 40px;
    height: 40px;
  }

  .twitter_footer-btn:hover {
    background-image: url(../images/twitter_footer.png);
    background-color:transparent; /* 替换为需要的背景色 */
  }

  .discord_footer-btn {
    background-image: url(../images/discord_footer.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    border-radius: 50%;
    border: none;
    top: 20px;
    left: 48%;
    width: 40px;
    height: 40px;
  }

  .discord_footer-btn:hover {
    background-image: url(../images/discord_footer.png);
    background-color:transparent; /* 替换为需要的背景色 */
  }
/*responsive*/
@media(max-width:1440px){
.banner {
    min-height: 792px;
}	
}
@media(max-width:1366px){
.banner {
    min-height: 756px;
}
.banner-info {
    margin: 15em 0 0;	
}
}
@media(max-width:1280px){
.banner {
    min-height: 702px;
}
.banner-info {
    margin: 12em 0 0;	
}	
}
@media(max-width:1080px){
.banner-info {
    margin: 10em 0 0;
}
.logo a {
    font-size: 2.2em;	
}
.banner {
    min-height: 590px;
}
h2.tittle {
    font-size: 3em;
}
.about-grid h4,.ser-grid h4,.caption h4 ,.footer h4,.info-content h4{
    font-size: 1.8em;
}
p.about-text,p.about-text1 {
    font-size: 1em;
}
.about-grid p,.ser-grid p,.testimonials-grid p,.cap p,.journal-grid p,.info-content p{
    font-size: 0.965em;
}
.ser-left {
    float: left;
    width: 25%;
}
.ser-right {
    float: left;
    width: 73%;
}
h3.tittle,h3.tittle1 {
    font-size: 3em;
}
.jou-left {
    float: left;
    width: 21%;
}
}
@media(max-width:991px){
.banner-info h1 {
    font-size: 3.5em;	
}
.banner {
    min-height: 546px;
}
.banner-info {
    margin: 8em 0 0;
}
.banner-info p {
    font-size: 1.3em;
}
.about-grid {
    float: left;
    width: 33.3%;
}
.about-w3, .team-w3l, .gallery, .testimonials-w3ls, .journal-w3l,.count-agileits ,.services{
    padding: 4em 0;
}
.ser-grid {
    float: left;
    width: 33.3%;
}
.ser-left {
    float: left;
    width: 33%;
}
.ser-right {
    float: left;
    width: 65%;
}
.gal-left {
    float: left;
    width: 33.3%;
	padding: 0 6px;
}
.testimonials-grid1 {
    float: left;
    width: 20%;
}
.testimonials-grid{
	float: left;
    width: 80%;
}
.count-grid {
    float: left;
    width: 25%;
}
.cap-left {
    float: left;
    width: 25%;
	padding:0 6px;
}
.journal-grid {
    float: left;
    width: 33.3%;
}
.journal-grid h5 {
    font-size: 1.2em;
}
.journal-grid h4 a {
    font-size: 1.2em;
}
.jou-left {
    float: left;
    width: 25%;
}
p.jour-link a {
    font-size: 0.96em;
}
}
@media (max-width: 736px){
.navbar-nav > li {
    float: none;
    margin: 0;
    display:block;
}
.navbar-right {
    float:none !important; 
}
.navbar-toggle {
    float: left;
	margin-top: 18px;
}
.navbar-default .navbar-toggle {
    border: none ! important;
    background: #00a0af;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #00a0af ! important;
}
.nav > li > a {
    padding: 15px 12px !important;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #B3A020 !important;
    background: #013040 !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background: #fff !important;
}
.navbar-nav {
    margin:0px;
}
.info-content p {
    line-height: 1.5em;
	   font-size: 0.95em;
}
.separator {
    margin: 8px auto;
}
.testimonials-grid h5 {
    font-size: 1.5em;
}
.cap-left {
    float: left;
    width: 50%;
    padding: 0 10px;
}
.cap-left img{
	width:100%;
}
.cap-left:nth-child(3),.cap-left:nth-child(4) {
    margin-top: 2em;
}
}
@media(max-width:667px){
.ser-left {
    float: left;
    width: 14%;
}
.ser-grid {
    width: 100%;
}
.ser-right {
    float: left;
    width: 84%;
}
.about-grid {
    float: left;
    width: 33.3%;
    padding: 0 2px;
}
.ser-grid:nth-child(2) {
    margin: 2em 0;
}
.about-grid p, .ser-grid p, .testimonials-grid p, .cap p, .journal-grid p ,.news-gr p{
    font-size: 0.92em;
}
p.about-text, p.about-text1 {
    width: 73%;
    font-size: 0.95em;
}
.jou-left {
    float: left;
    width: 30%;
}
.social-icons a i {
    margin: 0 0em;
}	
}
@media(max-width:640px){
.banner-info h1 {
    font-size: 3em;
}
.nav > li > a {
    padding: 12px 12px !important;
    font-size: 1em;
}
.banner {
    min-height: 450px;
}
.banner-info {
    margin: 5em 0 0;
}
.banner-info p {
    font-size: 1.2em;
}
.about-grid h4, .ser-grid h4, .caption h4, .footer h4 {
    font-size: 1.5em;
}
.gal-left {
    float: left;
    width: 50%;
    padding: 0 6px;
    margin-bottom: 18px;
}
.about-grid {
    float: left;
    width: 33.3%;
    padding: 0 1px;
}
p.about-text, p.about-text1 {
    width: 77%;
}
h2.tittle {
    font-size: 2.8em;
}
h3.tittle, h3.tittle1 {
    font-size: 2.8em;
}
.gal_mar {
    margin-top: 0;
}
.jou-left {
    float: left;
    width: 40%;
}
.journal-grid h4 a {
    font-size: 1.1em;
}
.footer {
    padding: 3em 0 1em;
}
.footer-left {
    width: 100%;
}	
.footer-middle {
    text-align: center;
    width: 100%;
    margin: 1em 1em 2em 0em;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-left: none;
    border-right: none;
    padding: 1em 0;
}
}
@media(max-width:568px){
.about-grid {
    width: 100%;
	text-align: center;
}
.about-top span {
    width: 25%;
	    margin: 0 auto;
}
.about-grid:nth-child(2) {
    margin: 2em 0;
}
p.about-text, p.about-text1 {
    width: 87%;
}
.numscroller {
    font-size: 2em;
}
.count-grid h5 {
    font-size: 1.1em;
}
.journal-grid h4 a {
    font-size: 1em;
}
}
@media(max-width:480px){
.banner {
    background: url(../images/homepage.png) no-repeat -150px 0px;
    background-size: cover;	
}
h2.tittle {
    font-size: 2.5em;
}
h3.tittle, h3.tittle1 {
    font-size: 2.5em;
}
.about-w3, .team-w3l, .gallery, .testimonials-w3ls, .journal-w3l, .count-agileits, .services {
    padding: 2em 0;
}
.about-grids, .service-grids, .caption, .count-grids, .gallery-grids, .journal-grids {
    margin-top: 2em;
}
.ser-left {
    float: left;
    width: 20%;
}
.ser-right {
    float: left;
    width: 77%;
}
.banner-info p {
    font-size: 1em;
}
.testimonials-grid1 {
    width: 100%;
}
.testimonials-grid1 img {
    margin: 0 auto;
    width: 40%;
}
.testimonials-grid {
    width: 100%;
}
.test {
    margin-top: 2em;
}
.test1 {
    margin-bottom: 2em;
}
.count-grid {
    float: left;
    width: 50%;
}
.count-grid:nth-child(3),.count-grid:nth-child(4) {
    margin-top: 2em;
}
.journal-grid {
    width: 100%;
}
.jou-left {
    float: left;
    width: 18%;
}
.journal-grid h4 a {
    font-size: 1.2em;
}
.journal-grid:nth-child(2) {
    margin: 2em 0;
}
.footer textarea {
    min-height: 90px;
}
}
@media(max-width:414px){
.banner {
    background: url(../images/homepage.png) no-repeat -150px 0px;
    background-size: cover;
    min-height: 400px;
}
.logo a {
    font-size: 1.8em;
}
.banner-info {
    margin: 4em 0 0;
}
.gal-left {
    width: 100%;	
}
.testimonials-grid1 img {
    margin: 0 auto;
    width: 50%;
}
.footer input[type="submit"] {
    font-size: 0.95em;
}
}
@media(max-width:384px){
.banner-info h1 {
    font-size: 2.8em;
}
h2.tittle {
    font-size: 2.3em;
}
h3.tittle, h3.tittle1 {
    font-size: 2.3em;
}
.ser-left {
    float: left;
    width: 25%;
}
.ser-right {
    float: left;
    width: 73%;
}
.banner {
    background: url(../images/homepage.png) no-repeat -150px 0px;
    background-size: cover;
    min-height: 380px;
}
.ft-lt {
    width: 100%;
}
.footer input[type="text"], .footer textarea {
    width: 100%;
}
.ft-rgt {
    width: 100%;
}
}
@media(max-width:375px){
p.about-text, p.about-text1 {
    width: 100%;
	margin: 1em auto 0;
}
.testimonials-grids {
    margin-top: 2em;
	    padding: 1em;
}
.footer-middle {
    margin: 1em 1em 1em 0em;
}
.footer-top {
    padding: 1em 0;
}
}
@media(max-width:320px){
.about-grid,.test1,.testimonials-grid,.journal-grid {
    padding: 0;
}
.ser-left {
    width: 100%;
	margin-bottom: 1em;
}
.ser-right {
    width: 100%;
}
.ser-grid {
    text-align: center;
	padding: 0;
}
.testimonials-grid1 img {
    margin: 0 auto;
    width: 65%;
}
.cap-left {
    width: 100%;
    padding: 0;
}
.cap-left:nth-child(2){
    margin-top: 2em;
}
.jou-left {
    float: left;
    width: 25%;
}
}
